*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height:5200px;
}
.header{
    margin-top: 2rem;
    margin-left: 12rem;
}
.header h2{
    color: orange;
    font-family: 'poppins';
    font-size: 25px;
    font-weight: bold;
}
.back{
    background-color: black;
    position: fixed;
    width:100%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.288), 0 0 10px rgba(255, 255, 255, 0.318);
    z-index:100;
}

.navbar{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-left: 15rem;
}
.navbar a{
    text-decoration: none;
    color:white;
    padding:10px 30px;
    font-family: cursive;
    font-weight: bold;
    font-size: 18px;
    margin-top: -2rem;
}
.navbar a:hover{
    color:orange;
}
.fixed{
    background-color:black;
    color:white;
    width:100%;
}

/***************************************************************Midddle********************************************/
.img img{
    height:740px;
    width:100%;
}
/*********shape*************************************************/
.shape{
    margin-top: -56.5rem;
    margin-left: 20rem;
}
.shape img{
    height:900px;
    width:  1195px;
}
/******************************End*********************************/
.banner{
 margin-top: -40rem;
 margin-left: 50rem;
}
.banner img{
    height:600px;
    width:600px;
}

/***************************************header1 h1****************************************/
.header1{
    margin-top: -28rem;
    margin-left: 10rem;
    font-size: 30px;
    width:500px;
}
.header1 h1{
    color:white;
    font-family: 'poppins';
}
.header1 p{
    margin-top: 2rem;
    font-size: 28px;
    width:450px;
    color:white;
    font-family: 'Dancing Script';
    font-weight: bold;
}
.button{
    margin-top: 2rem;
}
.button button{
    height:50px;
    width:150px;
    font-family: cursive;
    background-color: black;
    color:white;
    cursor:pointer;
    font-weight: bold;
}
.button button:hover{
    background-color: orange;
    color:black;
    border: none;
}

/*************************************Product Information*******************************************/
.information h1{
    text-align: center;
    margin-top: 10rem;
    font-family: 'poppins';
    font-size: 35px;
}

/************************************************GRID8 Img*****************************************/
.grid7{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.grid8{
    background-color: rgba(0, 0, 0, 0.046);
    height:470px;

    
  
}
.grid8 img{
 
margin-top: 5rem;
margin-left: 2rem;
    
}


/***************************Previos*****************************/

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top:70rem;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color:black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.prev{
    margin-left: 2rem;
}
.next {
   margin-left:  90rem;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/********************************************************************GRID************************************/

.GRID{
    display:grid;
    grid-template-columns: auto auto;
    margin-top: 5rem;
    margin-left: -35rem;
  grid-gap:20px;
padding:10px 620px;

   
}
/******************************************************menu1***********************************************/
.header10{
    text-align: center;
}
.header10 span{
    color:orange;
}
.header10 p{
    font-family: cursive;
    font-weight: bold;
}
.menu1{
    height:450px;
    width:400px;
    box-shadow: 0 0 10px black , 0 0 10px black , 0 0 10px black , 0 0 10px black;
    position:relative;
}
.menu1 img{
    height:250px;
    width:250px;
    margin-left: 4rem;
    margin-top: 2rem;
}

.header4{
    margin-top: 3rem;
}
.header4 h1{
    text-align: center;
    margin-top: -3rem;
    font-family: 'poppins';
    font-size: 20px;
}
.header4 h4{
    text-align: center;
    margin-top:-rem;
    font-weight:bold;
    font-size: 18px;
}
.button4{
    margin-top: 4rem;
    margin-left: 9rem;
}
.button4 button{
    height:30px;
    width:100px;
    font-family: 'poppins';
    font-weight: bold;
    background-color: orange;
}
#case-Count{
    position: absolute;
    top:78%;
    height:30px;
    width:100px;
}
/******************************************MENU2***********************************************************/
.menu2{
    height:450px;
    width:400px;
    box-shadow: 0 0 10px black , 0 0 10px black , 0 0 10px black , 0 0 10px black;
    position: relative;
}
.menu2 img{
    height:250px;
    width:250px;
    margin-top: 2rem;
    margin-left: 4rem;
}
#case-Count1{
    position: absolute;
    top:78%;
    height:30px;
    width:100px;
}


/**********************************MENU3***************************/
.menu3{
    height:450px;
    width:400px;
    box-shadow: 0 0 10px black , 0 0 10px black , 0 0 10px black , 0 0 10px black;
    position: relative;
}
.menu3 img{
    height:250px;
    width:250px;
    margin-top: 2rem;
    margin-left: 4rem;
}
#case-Count3{
    position: absolute;
    top:78%;
    height:30px;
    width:100px;
}
/*****************************************MENU4**************************************************/



.menu4{
    height:450px;
    width:400px;
    box-shadow: 0 0 10px black , 0 0 10px black , 0 0 10px black , 0 0 10px black;
    position: relative;
}
.menu4 img{
    height:250px;
    width:250px;
    margin-top: 2rem;
    margin-left: 4rem;
}
#case-Count4{
    position: absolute;
    top:78%;
    height:30px;
    width:100px;
}
/***********************************************MENU5*********************************************/



.menu5{
    height:450px;
    width:400px;
    box-shadow: 0 0 10px black , 0 0 10px black , 0 0 10px black , 0 0 10px black;
    position: relative;
}
.menu5 img{
    height:250px;
    width:250px;
    margin-top: 2rem;
    margin-left: 4rem;
}
#case-Count5{
    position: absolute;
    top:78%;
    height:30px;
    width:100px;
}

/*******************************************MENU6*******************************************/
.menu6{
    height:450px;
    width:400px;
    box-shadow: 0 0 10px black , 0 0 10px black , 0 0 10px black , 0 0 10px black;
    position: relative;
}
.menu6 img{
    height:250px;
    width:250px;
    margin-top: 2rem;
    margin-left: 4rem;
}
#case-Count6{
    position: absolute;
    top:78%;
    height:30px;
    width:100px;
}
/********************************GRID1 UPCOMING PRODUCT****************************************/
.food h2{
    color:orangered;
    text-align: center;
    font-family: 'poppins';
    font-size: 35px;
    margin-top: -3.3rem;
    margin-left: 19rem;
}
.grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 2rem;
    margin-left: 3rem;
}
/******************************************GRID1*************************************/
.grid1{
    height: 650px;
    width:450px;
    background-color: white;
    box-shadow: 0 0 10px black , 0 0 10px black , 0 0 10px black , 0 0 10px black;
    position:relative;
}
/***********************************************img1************************************/
.img1 img{
    height:250px;
    width:250px;
    margin-top: 1rem;
    margin-left: 6rem;
    position:absolute;
}

.grid1::before{
    content: "";
    position:absolute;
    bottom:20%;
    background-color: rgba(255, 166, 0, 0.592);
    height:0%;
    width:0;
    transition:2s;
}
.grid1:hover::before{
    width:100%;
    height:80%;
}
/*******************************icon**************************************/
.icon img{
    margin-top: 1rem;
    margin-left: 12rem;
    height:80px;
    position:absolute;
}
/*****************************************header2 h1***********************/
.header2 h1{
    margin-top: 7rem;
    text-align: center;
    font-family: 'poppins';
}
/*************************************header2 p***************************/
.header2 p{
    margin-top: 2rem;
   font-weight:550;
    width:350px;
    margin-left: 5rem;
    font-family: 'poppins';
}



/******************************************GRID2*************************************/
.grid2{
    height: 650px;
    width:450px;
    background-color: white;
    box-shadow: 0 0 10px black , 0 0 10px black , 0 0 10px black , 0 0 10px black;
    position:relative;
}
/***********************************************img2************************************/
.img2 img{
    height:250px;
    width:250px;
    margin-top: rem;
    margin-left: 6rem;
    position:absolute;
}

.grid2::before{
    content: "";
    position:absolute;
    bottom:20%;
    background-color: rgba(255, 166, 0, 0.592);
    height:10%;
    width:0;
    transition:2s;
}
.grid2:hover::before{
    width:100%;
    height:80%;
}
/******************************************GRID3*************************************/
.grid3{
    height: 650px;
    width:450px;
    background-color: white;
    box-shadow: 0 0 10px black , 0 0 10px black , 0 0 10px black , 0 0 10px black;
    position:relative;
}
/***********************************************img1************************************/
.img3 img{
    height:250px;
    width:250px;
    margin-top: 1rem;
    margin-left: 6rem;
    position:absolute;
}

.grid3::before{
    content: "";
    position:absolute;
    bottom:20%;
    background-color: rgba(255, 166, 0, 0.592);
    height:10%;
    width:0;
    transition:2s;
}
.grid3:hover::before{
    width:100%;
    height:80%;
}

/****************************************************GRID2************************************************/

.GRID4{
    grid-gap: -1rem;
    background-color: antiquewhite;
    height: 500px;
    width:100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 15rem;
  
}

.prev1,
.next1 {
  cursor: pointer;
  position: absolute;
  top:275rem;
  width: auto;
  padding: 16px;
  color:black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.prev1{
    margin-left: 3rem;
 
}
.next1 {
   margin-left:  88rem;
    border-radius: 3px 0 0 3px;
  }
  .prev1:hover,
.next1:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.grid9{
    height:400px;
    width:400px;
   box-shadow: 0 0 10px;
    margin-top: 3rem;
    margin-left: 3rem;
    grid-gap: 2rem;
    background-color: white;
 
   
}
.grid9 img{
    height:100px;width:100px;
    border-radius: 50%;
    margin-top: 3rem;
    margin-left: 3rem;
}
.grid9 h4{
    margin-top: -5rem;
    margin-left: 12rem;
    width:100px;
    font-family: 'poppins';
}
.grid9 p{
    margin-left: 12rem;
    width:100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.grid9 h5{
    margin-top: 4rem;
    font-family: 'poppins';
    font-weight: bold;
    margin-left: 2rem;
   
}


.header9{
    top:562%;
     position: absolute;
     left:42%;
 }
 .header9 p{
   font-size: 28px;
   font-weight: bold;
   color:brown;
   margin-left: 4rem;
 }
 .header9 h2{
     font-family: 'poppins';
     margin-left: -7rem;
     font-size: 40px;
 }
 .header9 span{
     color:orange;
 }
 .header9 h5{
     margin-left: -10rem;
     font-size: 18px;
     margin-top: 1rem;
 }

 /***************************************************FOOTER*******************************************/
.img20 img{
    width: 100%;
}

 .header12 h1{
    font-family: 'poppins';
    position: absolute;
    top:640%;
    left:3%;
  }
  .header12 h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    width:30%;
    font-size: 18px;
    top: 670%;
    position: absolute;
    left:3%;
  }
  .contract1{
    position: absolute;
    top:670%;
    left:30%;
    width:30%;
  }
  .contract{
    position:absolute;
    font-family: 'poppins';
    left:45%;
    bottom:100%;
  }
  .contact1 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width:190%;
  }
  .contact1{
    position: absolute;
    top:100%;
    line-height: 2rem;
  }
  .opening{
    position:absolute;
    top:665%;
    left:70%;

  }
  .hour{
    position: absolute;
    left:75%;
    top:680%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .hour h2{
    width:200%;
  }
  .hour1{
    position: absolute;
    top:150%;
    width:250%;
    line-height: 2rem;
}
.social{
    display: flex;
   left:5%;
    align-items: center;
    position: absolute;
    top:685%;
    font-size: 35px;
    cursor:pointer;  
}
.facebook{
    background-color: orange;
    height:60px;
    width:60px;
    border-radius: 50%;
  
}

.facebook i{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 0.7rem;
    color:white;
}
.twitter{
    background-color:orange;
    height:60px;
    width:60px;
    border-radius: 50%;
    margin-left: 2rem;
}
.twitter i{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 0.7rem;
    color:white;
  
}

.what{
    background-color: orange;
    height:60px;
    width:60px;
    border-radius: 50%;
    margin-left: 2rem;
}
.what i{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 0.7rem;
    color:white;
   
}

.Youtube{
    background-color:orange;
    height:60px;
    width:60px;
    border-radius: 50%;
    margin-left: 2rem;
}

.Youtube i{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 0.7rem;
    color:white;;
}


/**********************************************Product1*******************************************/
.back1{
    height: 650px;
    width:450px;
    background-color: white;
    box-shadow: 0 0 10px black , 0 0 10px black, 0 0 10px black ,0 0 10px black;
    position: absolute;
    top:230%;
    margin-left: 60rem;
}
.product1 h1{
margin-top: -0.1rem;
}
.product2 h3{
    font-family: 'poppins';
    font-size: 25px;
    margin-top: 5rem;
    margin-left: 2rem;
}
.price h3{
    font-family: 'poppins';
    font-size: 25px;
    margin-top: 2.5rem;
    margin-left: 2rem;
}
.product3{
    text-align: center;
    top:21%;
    left:38%;
    font-size: 24px;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.price h4{
    font-family: 'poppins';
    margin-top: 3rem;
    margin-left: 2rem;
    font-size: 25px;
} 

.price2{
    text-align: center;
    top:32.5%;
    left:30%;
    font-size: 24px;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.price3{
    text-align: center;
    top:71.5%;
    left:48%;
    font-size: 24px;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.price h2{
    font-family: 'poppins';
    margin-top: 3rem;
    margin-left: 2rem;
    font-size: 25px;
}
.price h5{
    font-family: 'poppins';
    margin-top: 3rem;
    margin-left: 2rem;
    font-size: 25px;
}

.price h4{
    font-family: 'poppins';
    margin-top: 3rem;
    margin-left: 2rem;
    font-size: 25px;
}

.price h6{
    font-family: 'poppins';
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 25px;
}

.price h1{
    font-family: 'poppins';
    margin-top: 2rem;
    margin-left: -14rem;
    font-size: 22px;
}
.total{
        font-family: 'poppins';
        margin-top: -2rem;
        margin-left:13rem;
        font-size: 22px;
        font-weight: bold;
}